body {
    font-family: 'Roboto', sans-serif;

    background-color: #F3F3F3;
}

strong {
    font-weight: bold;
}

.login-screen {
    width: 100%;
    height: 100%;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 3;
}

.login-screen .logo-login {
    width: 130px;
    height: 92px;

    margin: 70px 0 100px 0;
}

.login-screen .login-input {
    width: 260px;
    height: 54px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    text-align: center;

    border: 2px solid #D7D7D7;
    border-radius: 6px;
}

.login-screen .login-input::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #AEAEAE;
}

.login-screen button {
    width: 109px;
    height: 45px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #696969;

    margin-top: 15px;

    background-color: #E7E7E7;

    border: hidden;
    border-radius: 9px;

    overflow: hidden;
}

.loading {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    position: relative;
}

.loading img {
    width: 300px;
}

.loading p {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;

    position: absolute;

    bottom: 30px;
}

.header {
    width: 100%;
    height: 80px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFFFFF;

    position: fixed;
    top: 0;
    z-index: 1;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.header img {
    width: 75px;   
    height: 53px;

    margin-left: 22px;
}

.header ion-icon {
    width: 45px;
    height: 45px;

    margin-right: 22px;
}

.main {
    width: 100%;

    padding-top: 106px;
    padding-bottom: 80px;
}

.main div {
    display: flex;
    align-items: center;

    padding: 13px 0 ;

    margin-bottom: 4px;

    overflow-wrap: break-word;
    word-wrap: break-word;

    border-radius: 4px;
}

.main .message {
    margin: 0 8px 0 8px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    word-break: break-word;
}

.main .time {
    color: #AAAAAA;

    margin-right: 3px;
}

.in-out {
    background-color: #DCDCDC;    
}

.private {
    background-color: #FFDEDE;
}

.everyone {
    background-color: #FFFFFF;
}

.margin-right {
    margin-right: 3px;
}

.participants-tab {
    width: 100%;
    height: 100%;

    display: flex;

    position: fixed;
    top: 0;

    transition: all 0.2s;
    transform: translateX(100%);
    
    z-index: 2;
}

.participants-tab-show {
    transition: all 0.2s;
    transform: translateX(0);
}


.left-transparent {
    width: 30%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.6);

    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.1s ease-out;
}

.transparent {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0s ease-out;
}

.right-menu {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFFFFF;

    overflow-y: scroll;

    word-break: break-word;
}

.hidden {
    display: none;
}

.contacts-title {
    width: 100%;
    height: 95px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    flex-shrink: 0;
}


.visibility-title {
    width: 100%;
    height: 60px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    flex-shrink: 0;
}

.list {
    width: 100%;
}

.list div {
    width: 80%;

    display: flex;
    align-items: center;

    margin-bottom: 10px;

    flex-shrink: 0;

    position: relative;
}


.list ion-icon {
    font-size: 25px;
    
    margin-left: 20px;

    flex-shrink: 0;
}

.list .lock {
    font-size: 22px;
}

.list .check {
    font-size: 20px;

    color: green;

    margin-top: 3px;

    position: absolute;
    right: -35px;
}

.list p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;

    margin: 4px 0 0 8px ;
}

.stop-scroll {
    height: 100%;
    overflow: hidden;
}

.footer {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #FFFFFF;

    position: fixed;
    bottom: 0;
    z-index: 1;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.footer .send-to-all {
    width: 100%;
}


.footer .send-to-all input {
    width: 100%;
    height: 68px;
    
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    text-indent: 17px;
    border: hidden;
    
    color: #000000;
}

.footer .send-private {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.footer .send-private input {
    width: 100%;
    height: 25px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;

    text-indent: 17px;
    border: hidden;
    
    padding-top: 25px;
}

.footer .send-to {
    width: 100%;
}

.footer .send-to p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;

    margin-left: 17px;
}

textarea:focus, input:focus{
    outline: none;
}

.footer ::placeholder {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;

    color: #000000;
}

.footer div {
    height: 80px;
    
    display: flex;
    align-items: center;
}

.footer ion-icon {
    width: 32px;
    height: 32px;

    margin-right: 18px;
    margin-left: 14px;
}
























