body {
    font-family: 'Roboto', sans-serif;

    background-color: #F3F3F3;
}

strong {
    font-weight: bold;
}

.header {
    width: 100%;
    height: 80px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFFFFF;

    position: fixed;
    z-index: 1;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.header img {
    width: 75px;   
    height: 53px;

    margin-left: 22px;
}

.header ion-icon {
    width: 45px;
    height: 45px;

    margin-right: 22px;
}

.main {
    width: 100%;

    padding-top: 106px;
    padding-bottom: 80px;
}

.main div {
    display: flex;
    align-items: center;

    padding: 13px 0 ;

    margin-bottom: 4px;

    overflow-wrap: break-word;

    border-radius: 4px;
}

.main .message {
    margin: 0 8px 0 8px;

    overflow-wrap: break-word;
    word-wrap: break-word;

    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.main .time {
    color: #AAAAAA;

    margin-right: 3px;
}

.in-out {
    background-color: #DCDCDC;    
}

.private {
    background-color: #FFDEDE;
}

.everyone {
    background-color: #FFFFFF;
}

.margin-right {
    margin-right: 3px;
}

.footer {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #FFFFFF;

    position: fixed;
    bottom: 0;
    z-index: 1;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.footer input {
    width: 100%;
    height: 100%;
    
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    text-indent: 17px;
    border: hidden;

    color: #000000;
}

textarea:focus, input:focus{
    outline: none;
}

.footer ::placeholder {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;

    color: #000000;
}


.footer ion-icon {
    width: 32px;
    height: 32px;

    margin-right: 18px;
    margin-left: 14px;
}
























